/**
    * @name SignalRGB Theme
    * @version 1.1
    * @description A theme designed to match the UI of SignalRGB.
    * @author Fanman03#1337
    *
    * @website https://github.com/Fanman03/discord-signalrgb-theme
    * @source https://github.com/Fanman03/discord-signalrgb-theme
**/
@import url("https://raw.githubusercontent.com/Fanman03/discord-signalrgb-theme/main/src/main.css");
@import url("https://nyri4.github.io/Discolored/main.css");

:root {
  /* --------- BASE THEME --------- */
  --blurple-replace: #00a9ce;
  --blurple-replace-light: #0fa0bd77;
  --blurple-replace-xlight: #def7fc;
  --background-primary: #252836;
  --background-secondary: #1b1d28;
  --background-secondary-alt: #0a090d;
  --background-tertiary: #1f1d2b;
  --background-accent: #00a9ce;
  --background-floating: #1f1d2b;
  --userarea-background: var(--background-tertiary);
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --header-accent: #e31c79;
  --header-background: #1f1d2b;
  --elevation-low: 0 1px 0 rgba(40, 40, 50, 0.2),
    0 1.5px 0 rgba(60, 60, 70, 0.05), 0 2px 0 rgba(40, 40, 50, 0.05);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --channels-default: #969696;
  --channeltextarea-background: #1b1d28;
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --activity-card-background: #0f0f0f;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: rgb(75, 75, 75);
  --background-modifier-hover: rgba(50, 50, 50, 0.16);
  --background-modifier-active: rgba(50, 50, 50, 0.24);
  --background-modifier-selected: rgba(50, 50, 50, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --text-link: #00a9ce;
  --text-normal: #dcddde;
  --text-muted: #969696;
  --deprecated-panel-background: #292b2f;
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
  --background-accent-1: rgb(15, 15, 15, 0.1);
  --background-accent-3: rgb(15, 15, 15, 0.3);
  --background-floating-2: rgba(0, 0, 0, 0.2);
}

